---
import { ViewTransitions } from 'astro:transitions'
import { mySiteName } from '@/constants/constants'

export interface Props {
  title: string
  ogImage?: string
}

const { title, ogImage } = Astro.props

const ogp = ogImage ?? 'https://novel.manasas.dev/defaultBg.png'
const pageTitle =
  title && title !== mySiteName ? `${title} | ${mySiteName}` : mySiteName
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
  <meta name="generator" content={Astro.generator} />
  <meta name="description" content="まなさすの創作保管庫" />
  <meta property="og:site_name" content={mySiteName} />
  <meta property="og:title" content={pageTitle} />
  <meta property="og:url" content="https://novel.manasas.dev" />
  <meta property="og:description" content="まなさすの創作保管庫" />
  <meta property="og:image" content={ogp} />
  <title>{pageTitle}</title>
  <ViewTransitions />
</head>
