---
import { ClientRouter } from 'astro:transitions'
import { mySiteName, mySiteDefaultDescription } from '@/constants/constants'

export interface Props {
  title: string
  ogImage?: string
}

const { title, ogImage } = Astro.props

const ogp = ogImage ?? 'https://novel.manasas.dev/default.png'
const pageTitle =
  title && title !== mySiteName ? `${title} | ${mySiteName}` : mySiteName
const path = Astro.url
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
  <link rel="sitemap" href="/sitemap-index.xml" />
  <meta name="generator" content={Astro.generator} />
  <meta name="description" content={mySiteDefaultDescription} />
  <meta property="og:site_name" content={mySiteName} />
  <meta property="og:title" content={pageTitle} />
  <meta property="og:url" content={path} />
  <meta property="og:description" content={mySiteDefaultDescription} />
  <meta property="og:image" content={ogp} />
  <title>{pageTitle}</title>
  <ClientRouter />
</head>
