---
import Layout from "@/layouts/Layout.astro";
import { getHistoryList } from "@/lib/newt/notify";
import Card from "@/components/Card.astro";
import { format } from "date-fns";
import ja from "date-fns/locale/ja/index.js";

const formatDate = (value: string) =>
  format(new Date(value), "yyyy-MM-dd", {
    locale: ja,
  });

export const getStaticPaths = async () => {
  const hisotryList = await getHistoryList();
  return hisotryList.map((item) => ({
    params: { slug: item.slug },
    props: { item },
  }));
};
const { item } = Astro.props;
---

<Layout
  title={item.title}
  ogImage={`https://novel.manasas.dev/notify/og/${item.slug}.png`}
>
  <Card>
    <div class="cardInner">
      <img src=`/notify/og/${item.slug}.png` />
      <p class="date">{formatDate(item.date)}</p>
      <div set:html={item.message} />
    </div>
  </Card>
</Layout>

<style lang="scss">
  .cardInner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  img {
    width: 100%;
    margin: 0 auto;
  }
</style>
