---
import Layout from "@/layouts/Layout.astro";
import { getIllustList } from "@/lib/newt/Illust";
import { Image } from "astro:assets";
import { NewtImage2AstroImage } from "@/utils/imageHepler";
import Card from "@/components/Card.astro";

export const getStaticPaths = async () => {
  const illustList = await getIllustList();
  return illustList.map((illust) => ({
    params: { slug: illust.slug },
    props: { illust },
  }));
};
const { illust } = Astro.props;

const img: ImageMetadata = NewtImage2AstroImage(illust.image);
---

<Layout title={illust.title} ogImage={img.src}>
  <Card>
    <Image src={img} alt={illust.title} />
    <h1>{illust.title}</h1>
    <div set:html={illust.comment} />
  </Card>
</Layout>

<style lang="scss">
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0 auto;
    display: block;
    margin-bottom: 32px;
  }
</style>
