---
import { getSimpleNovelList } from '@/lib/newt/novel'
import { getSeriesList } from '@/lib/newt/series'
import { Image } from 'astro:assets'
import RyuNoKo from '@/data/novel/ryu-no-ko/banner.png'

const novels = await getSimpleNovelList()
const seriesList = await getSeriesList()
const seriesNovelList = seriesList.map((series) => {
  return {
    series: series,
    novels: novels.filter((novel) => novel.series.slug === series.slug),
  }
})
const appendNovelList = [
  {
    series: {
      title: 'ちぐはぐをゆるして',
      slug: 'tighag',
    },
    novels: [
      {
        title: '4月の嘘は伝わらない',
        slug: '2025april1',
        series: {
          title: 'ちぐはぐをゆるして',
          slug: 'tighag',
        },
      },
    ],
  },
]

const AllNovelList = seriesNovelList
  .concat(appendNovelList)
  .filter((item) => item.series.title !== '龍の子')
const isMenu = Astro.url.pathname !== '/'
---

<div class={isMenu ? 'menu' : 'topMenu'}>
  <h2>Novel</h2>
  {
    AllNovelList.map((item) => (
      <>
        <h3>{item.series.title}</h3>
        <ul class="novelList">
          {item.novels.map((novel) => {
            const path = `/novel/${novel.slug}/`
            return Astro.url.pathname === path ? (
              <li class="current">{novel.title}</li>
            ) : (
              <li>
                <a href={path}>{novel.title}</a>
              </li>
            )
          })}
        </ul>
      </>
    ))
  }
  <h3>
    <a href="/novel/ryu-no-ko"
      ><Image src={RyuNoKo} alt="龍の子" height={40} width={200} /></a
    >
  </h3>
</div>

<style lang="scss">
  .topMenu {
    width: 90%;
    margin: 0 auto;
    li {
      margin-left: 1rem;
    }
    ul {
      margin-bottom: 2rem;
    }
  }
  .menu {
    margin: 0 auto;
    font-size: 1.2rem;
    border-radius: 8px;

    h2 {
      font-size: 1.5rem;
      margin: 0.3rem 0 1rem 0;
    }

    h3 {
      font-size: 1.2rem;
      margin: 1rem 0 0.5rem 0;
    }

    ul {
      margin: 0.5rem 0;
      li {
        margin: 0.5rem 0rem 0.5rem 1.25rem;

        &.current {
          display: flex;
          align-items: center;
          margin-left: 0;

          &::before {
            content: '';
            display: inline-block;
            background: rgb(var(--textColor));
            border-radius: 50%;
            width: 0.75rem;
            height: 0.75rem;
            flex-shrink: 0;
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
</style>
