---
import Layout from '@/layouts/Layout.astro'
import History from '@/components/feature/History.astro'
import NovelList from '@/components/feature/NovelList.astro'
import TankaList from '@/components/feature/TankaList.astro'
import CharacterSection from '@/components/feature/CharacterSection.astro'
import Log from '@/components/feature/Log.astro'
import IllustSection from '@/components/feature/IllustSection.astro'
import { Image } from 'astro:assets'
import TitleLogo from '@/img/titleLogo.svg'
import Clap from '@/img/clap.gif'
import { mySiteName } from '@/constants/constants'
import Title from '@/components/Title.astro'
import BannerImage from '@/img/banner.png'
import Blog from '@/components/feature/Blog.astro'
---

<Layout title={mySiteName}>
  <h1 class="title">
    <Image src={TitleLogo} alt={mySiteName} height={75} />
  </h1>
  <div class="topSection">
    <p>まなさすの創作まとめサイト。</p>
    <p>🌟 このサイトは性別を超越した装いと愛に溢れています 🌟</p>
  </div>
  <hr />
  <div class="inner">
    <Title text="このサイトについて" />
    <p>
      一次創作メイン。<br />
      性別不定多いです。同性愛あります。世界滅びます。<br />
    </p>
  </div>
  <hr />
  <History />
  <hr />
  <NovelList />
  <hr />
  <Log />
  <hr />
  <TankaList />
  <hr />
  <IllustSection />
  <hr />
  <CharacterSection />
  <hr />
  <div class="inner">
    <Title text="管理人" />
    <p>まなさす</p>
    <Title text="SNS" />
    <p>
      <ul>
        <li>
          <a href="https://fedibird.com/@thetalemon/" target="_blank">
            fedibird
          </a>
        </li>
        <li>
          その他SNSのあざらし型のまなさすもおそらく本人ですが、浮上率はあまり高くありません。
        </li>
      </ul>
    </p>
  </div>
  <hr />
  <div class="inner">
    <p>
      リンクはEnterにお願いします。<br />
      バナーはお持ち帰りでお願いします。<br />
      サイト名: 北極の とある倉庫<br />
      サイトアドレス: https://novel.manasas.dev/
    </p>
    <Image src={BannerImage} alt="バナー" />
  </div>
  <hr />
  <Blog />
  <hr />
  <div class="link">
    <p>
      <a href="https://wavebox.me/wave/1zpw4z8irp585mvq/" target="_blank"
        ><Image src={Clap} alt="はくしゅ" height={16} /></a
      >
    </p>
  </div>
</Layout>

<style lang="scss">
  .title {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .topSection {
    p {
      text-align: center;
    }
  }
  .link {
    margin-top: 3rem;
    text-align: center;
  }
</style>
