---
export interface Props {
  textColor?: string;
  bgColor?: string;
}

const { textColor, bgColor } = Astro.props;

const TEXT_COLOR = textColor ? `color: ${textColor};` : "";
const BG_COLOR = bgColor ? ` background: ${bgColor};` : "";
const STYLE = `${TEXT_COLOR} ${BG_COLOR}`;
---

<style>
  .card {
    background: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    font-size: 1.2rem;
    padding: 24px;
    border-radius: 8px;
    color: rgb(55, 55, 55);
  }
</style>

<div class="card" style=`${STYLE}`>
  <slot />
</div>
