---
import SimpleLayout from "@/layouts/SimpleLayout.astro";
import { getCharacterList } from "@/lib/newt/character";
import { Image } from "astro:assets";
import { NewtImage2AstroImage } from "@/utils/imageHepler";

export const getStaticPaths = async () => {
  const characterList = await getCharacterList();
  return characterList.map((character) => ({
    params: { slug: character.slug },
    props: { character },
  }));
};
const { character } = Astro.props;

const img: ImageMetadata = NewtImage2AstroImage(character.image);
---

<SimpleLayout title={character.name} ogImage={img.src}>
  <article>
    <Image src={img} alt={character.name} width={250} height={250} />
    <h1>{character.name}</h1>
    <div set:html={character.content} />
  </article>
</SimpleLayout>

<style lang="scss">
  img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
    margin: 0 auto;
    display: block;
    margin-bottom: 32px;
  }
</style>
