---
import Layout from '@/layouts/Layout.astro'
import { Image } from 'astro:assets'
import Card from '@/components/Card.astro'
import { allCharacterList } from '@/data/character/index'
import { myUrl } from '@/constants/constants'

export const getStaticPaths = async () => {
  return allCharacterList.map((character) => ({
    params: { slug: character.slug },
    props: { character },
  }))
}
const { character } = Astro.props
const ogpPath = `${myUrl}${character.img.src}`
---

<Layout title={character.name} ogImage={ogpPath}>
  <Card>
    <Image src={character.img} alt={character.name} width={250} height={250} />
    <h1>{character.name}</h1>
    <div set:html={character.text} />
    {
      character.related && character.related.length > 0 && (
          <h2>関連キャラクター</h2>
          <ul>
            {character.related.map((related) => (
              <li>
                <a href={`/character/${related.slug}`}>{related.name}</a>
              </li>
            ))}
          </ul>
      )
    }
  </Card>
</Layout>

<style lang="scss">
  img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
    margin: 0 auto;
    display: block;
    margin-bottom: 32px;
  }
  h2 {
    margin-top: 32px;
    font-size: 1.25rem;
  }
</style>
