---
import { getHistoryList } from "@/lib/newt/notify";
import { format } from "date-fns";
import ja from "date-fns/locale/ja/index.js";
const formatDate = (value: string) =>
  format(new Date(value), "yyyy-MM-dd", {
    locale: ja,
  });

const historyList = await getHistoryList();
---

<style lang="scss">
  .root {
    max-width: 75%;
    margin: 1em auto;
    li {
      display: flex;
      p {
        margin: 0;
      }
    }
  }
</style>

<ul class="root">
  {
    historyList.map((item) => (
      <li>
        {item.novelLink ? (
          <p>
            {formatDate(item.date)}
            <a href={`/novel/${item.novelLink.slug}/`}>{item.title}</a>
          </p>
        ) : (
          <p>
            {formatDate(item.date)} {item.title}
          </p>
        )}
      </li>
    ))
  }
</ul>
