---
import { HISTORY_LIST } from "../data/history";
---

<style lang="scss">
  .root {
    max-width: 75%;
    margin: 1em auto;
    li {
      display: flex;
      p {
        margin: 0;
      }
    }
  }
</style>

<ul class="root">
  {
    HISTORY_LIST.map(({ date, title, href }) => (
      <li>
        {href ? (
          <p>
            {date} <a href={href}>{title}</a>
          </p>
        ) : (
          <p>
            {date} {title}
          </p>
        )}
      </li>
    ))
  }
</ul>
