---
import { ViewTransitions } from "astro:transitions";
import { styleHelper } from "@/utils/styleHelper";

export interface Props {
  title: string;
  ogImage?: string;
}

const { title, ogImage } = Astro.props;

const ogp = ogImage ?? "https://novel.manasas.dev/defaultBg.png";

const cardTextColor = "9, 51, 58";
const cardBgColor = "181, 184, 199";
const cardBgColorAlpha = "0.9";
const bgColor = "3, 7, 19";

const STYLE = styleHelper([
  { name: "bgColor", value: bgColor },
  { name: "cardTextColor", value: `rgb(${cardTextColor})` },
  { name: "cardBgColor", value: `rgba(${cardBgColor},${cardBgColorAlpha})` },
]);
---

<style is:global lang="scss">
  html {
    font-family: system-ui, sans-serif;
  }

  body {
    margin: 0;
    color: #212161;
    background: rgb(var(--bgColor));
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    line-height: 1.7;
    margin: 1.5rem 0;
  }

  h1,
  h2 {
    margin: 0 0 0.5rem;
  }

  h3 {
    margin: 0 0 0.5rem;
  }

  hr {
    border: none;
    border-top: 2px double #cccccc;
    margin: 1.5rem auto;
    width: 95%;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin: 0.5rem 0;
  }

  a {
    color: #367da7;
    &:hover {
      text-decoration: none;
    }
  }
</style>

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="まなさすの創作保管庫" />
    <meta property="og:site_name" content="北極の とある倉庫" />
    <meta property="og:title" content={title} />
    <meta property="og:url" content="https://novel.manasas.dev" />
    <meta property="og:description" content="まなさすの創作保管庫" />
    <meta property="og:image" content={ogp} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body style={STYLE}>
    <slot />
  </body>
</html>
