---
import { ViewTransitions } from 'astro:transitions'
import { styleHelper } from '@/utils/styleHelper'
import Header from '@/components/Header.astro'
import { COLORS_LIST } from '@/constants/colors'
import { mySiteName } from '@/constants/constants'
import Footer from '@/components/Footer.astro'
import '@/styles/global.scss'

export interface Props {
  title: string
  ogImage?: string
}

const { title, ogImage } = Astro.props

const ogp = ogImage ?? 'https://novel.manasas.dev/defaultBg.png'
const pageTitle = title ? `${title} | ${mySiteName}` : mySiteName

const defaultColor = COLORS_LIST[2]

const STYLE = styleHelper([
  { name: 'bgColor', value: defaultColor.bgColor },
  { name: 'cardTextColor', value: defaultColor.cardTextColor },
  { name: 'cardBgColor', value: defaultColor.cardBgColor },
  { name: 'linkColor', value: defaultColor.linkColor },
])
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="まなさすの創作保管庫" />
    <meta property="og:site_name" content={mySiteName} />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:url" content="https://novel.manasas.dev" />
    <meta property="og:description" content="まなさすの創作保管庫" />
    <meta property="og:image" content={ogp} />
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body style={STYLE}>
    <Header />
    <main>
      <article class="content">
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>

<style lang="scss">
  .content {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 750px;
  }
</style>
