---
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/Card.astro";
import Menu from "@/feature/Menu.astro";
import { styleHelper } from "@/utils/styleHelper";

export interface Props {
  title: string;
  cardTextColor?: string;
  cardBgColor?: string;
  cardBgColorAlpha?: number;
  bgColor?: string;
  ogImage?: string;
}

const {
  title,
  cardTextColor = "9, 51, 58",
  cardBgColor = "181, 184, 199",
  cardBgColorAlpha = "0.9",
  bgColor = "3, 7, 19",
  ogImage,
} = Astro.props;

const STYLE = styleHelper([
  { name: "bgColor", value: bgColor },
  { name: "cardTextColor", value: `rgb(${cardTextColor})` },
  { name: "cardBgColor", value: `rgba(${cardBgColor},${cardBgColorAlpha})` },
]);
---

<Layout title={title} ogImage={ogImage}>
  <main style={STYLE}>
    <div class="wrapper">
      <div class="inner">
        <Card>
          <slot />
        </Card>
      </div>
      <Menu />
    </div>
  </main>
</Layout>

<style lang="scss">
  main {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    z-index: 1;
    position: relative;
    background: rgba(var(--bgColor), 1);

    .wrapper {
      display: flex;
      justify-content: center;
      row-gap: 40px;
      align-items: center;
      flex-direction: column;
      width: calc(min(min(100vh, 100vw), 1020px) + 280px);
    }

    .inner {
      margin: 48px 8px;
      width: calc(min(min(100vh, 100vw), 620px) - 24px);
      flex-shrink: 0;
      @media screen and (min-width: 1000px) {
        margin-right: 260px;
      }
    }

    &::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: linear-gradient(
        rgba(var(--bgColor), 1) calc(100vh - 100vw * 0.95),
        rgba(var(--bgColor), 0) calc(100vh - 100vw * 0.7)
      );
      z-index: -1;
      opacity: 1;
    }
  }
</style>
