---
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/Card.astro";
import { styleHelper } from "@/utils/styleHelper";
import ReturnButton from "@/components/ReturnButton.astro";

export interface Props {
  title: string;
  cardTextColor?: string;
  cardBgColor?: string;
  cardBgColorAlpha?: number;
  bgColor?: string;
  ogImage?: string;
}

const isTop = Astro.url.pathname === "/";

const {
  title,
  cardTextColor = "9, 51, 58",
  cardBgColor = "181, 184, 199",
  cardBgColorAlpha = "0.9",
  bgColor = "3, 7, 19",
  ogImage,
} = Astro.props;

const STYLE = styleHelper([
  { name: "bgColor", value: bgColor },
  { name: "cardTextColor", value: `rgb(${cardTextColor})` },
  { name: "cardBgColor", value: `rgba(${cardBgColor},${cardBgColorAlpha})` },
]);
---

<Layout title={title} ogImage={ogImage}>
  <main style={STYLE}>
    <div class="wrapper">
      <Card>
        <slot />
      </Card>
      {!isTop && <ReturnButton />}
    </div>
  </main>
</Layout>

<style lang="scss">
  main {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    z-index: 1;
    position: relative;
    background: rgba(var(--bgColor), 1);
    padding: 40px 0 40px;

    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 90%;
      max-width: 750px;
    }
  }
</style>
